<h2>Listing players</h2>

<%= render "rankings.html", players: @players,
                            opponent_eprs: @opponent_eprs,
                            modifyable: true,
                            conn: @conn %>

<%= link "New player", to: player_path(@conn, :new) %>
