<h2>New earned points ratio</h2>

<%= render "form.html", changeset: @changeset,
                        action: earned_points_ratio_path(@conn, :create) %>

<%= link "Back", to: earned_points_ratio_path(@conn, :index) %>
