<div class="jumbotron">
  <h2>2015 Halloween Classic</h2>
</div>

<div class="row" id="groupRow">
<%= for group <- @groups do %>
  <div class="<%= group_column_class(@groups) %>">
    <h3>Group <%= group.name %></h3>
    <%= render( PickleballLeague.PlayerView,
                "rankings.html",
                players: group.players,
                opponent_eprs: @opponent_eprs,
                compact: true,
                modifyable: false) %>
  </div>
<% end %>
</div>
